extends layout

block content
  h1 Home Page
  p= msg
  form(method='post' action='/register')
    userid: input(name='userid' type='text' value='a')
    br
    password: input(name='password' type='text' value='a')
    br
    email: input(name='email' type='text' value='a')
    br
    input(name='register' type='submit' value='Register')
  br
  form(method='post' action='/login')
    userid: input(name='userid' type='text' value='a')
    br
    password: input(name='password' type='text' value='a')
    br
    input(name='login' type='submit' value='Login')
  br
  form(method='post' action='/logout')
    input(name='logout' type='submit' value='Logout')

